asgiref==3.8.1
awsebcli==3.21.0
botocore==1.35.99
cement==2.10.14
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
Django==5.1.6
django-widget-tweaks==1.5.0
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
mysql-connector-python==9.2.0
mysqlclient==2.2.7
packaging==24.2
pathspec==0.10.1
pypiwin32==223
python-dateutil==2.9.0.post0
pywin32==308
PyYAML==6.0.2
requests==2.32.3
semantic-version==2.10.0
six==1.17.0
sqlparse==0.5.3
termcolor==2.5.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.20
wcwidth==0.2.13
